html {text-align: center; font-family: "Times New Roman", Times, Serif; padding: 0; margin: 0; background-color: LightCyan;}
h1, h2, h3, h4, nav {font-family: "Arial", sans-serif;}

dt {font-weight: bold;}

ol, ul {list-style-position: outside;}

table {border-collapse: collapse; text-align: center;}
td, th {border-right: 1px solid white; padding: .5em .5em;}
th {background-color: LightCyan;}
tr:nth-child(even){background-color: Gainsboro;}

.contact {border: solid; border-width: 1px; clear: left; overflow: auto;}
.contact img {max-width: 10%; float: left;}
dt {background-color: Gainsboro;}
dl {margin-left: 12%;}

#map {float: right; max-width: 60%;}

#wrapper
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
#wrapper2, main, footer
{border: solid; border-width:1px;}

header {background-image: url("lab6header.png"); padding: 5% 0; background-size: cover;}
h1 {color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
#wrapper2
{
  background-color: DimGrey;
  text-transform: uppercase;
}
nav
{
  width: 100%;
  overflow: auto;
}
nav a
{
	text-decoration: none;
  font-weight: bold;
  color:white;
  width: 20%;
  float: left;
  padding: 5px 0;
}

@media only screen and (max-width: 600px)
{
	#wrapper2 nav a
	{
	  width: 100%;
		border-top: solid;
		border-color: black;
		border-width: 1px;
	}
	.contact img
	{
		float: none; max-width: 100%;
	}
}

nav a:hover{background-color: Turquoise;}

main, footer {margin-top: 10px; background-color: white;}

main {line-height: 150%; text-align: left; padding: 20px 20px;}
